html,
body {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a{
  text-decoration: none;
}
a:link {
  color : black;
}
a:visited {
  color : black;
}

/* markdown */
.post-article h1 {
  margin-bottom: 60px;
}
.post-article pre {
  border-radius: 6px;
  padding: 25px;
  background-color: #eee;
  
  overflow: scroll;
  line-height: 22px;
  font-size: 14px;
}
.post-article p {
  margin: 20px 0;
}
